<div class="container">
    <div class="box">
        <table>
            <tbody>
                <tr>
                    <td>Enter Plateau Height and Width</td>
                    <td><input type="text" id="heightWidth" placeholder="Ex: 2 3" #heightWidth></td>
                </tr>
                <tr id="Submit">
                    <td>
                        <button type="button" class="btn btn-primary" (click)="getHeightWidth(heightWidth.value)">Submit</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>